* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  color: #4603ff;
  text-align: center;
  font-size: 36px;
  margin: 10px 0px;
}

p {
  text-align: center;
  background-color: rgba(51, 255, 0, 0.5);
  padding: 5px 0px;
  margin: 0px 450px;
}

body {
  background-image: url(../images/fruits-background.svg);
  background-size: 750px;
}

div {
  display: grid;
  place-items: center;
}

li {
  background-color: rgb(0, 255, 255, 0.5);
  text-align: center;
  list-style: none;
  margin: 20px 450px;
}

a {
  text-decoration: none;
}

.ingredients ul li,
.instructions ol li {
  margin: 0px 450px;
  padding: 5px;
}

div ol p {
  margin-top: 10px;
}

.logo {
  width: 75px;
  height: auto;
  border-radius: 50%;
}

.nav {
  display: flex;
  color: white;
  place-content: center;
}

div.home-page ul.recipe li {
  display: inline;
  list-style: none;
  border: 2px solid blue;
  padding: 0.5em;
  margin: 150px 0px;
}